@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100;900&display=swap');

.header{
    background: none;
    width: 100%;
    height: 15vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all .4s ease-in;

    &.open{
        background: #000000;
    }
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 15vh;
}

.header__logo{
    height: 3.5rem;
    margin: 1rem .5rem;
    padding: 1rem;
    transition: .1s;

    &:hover{
        transform: scale(1.2);
    }
}

.burger-btn{
    margin: 1rem .5rem;
    padding: 1rem;
    height: 3.5rem;
    width: 3.5rem;
    cursor: pointer;
    transition: .1s;

    &:hover{
        transform: scale(1.2);
    }

    div{
        width: 1.5rem;
        height: .1rem;
        background: #ffffff;
    }

    &__line1{
        margin-top: .4rem;
        margin-bottom: .2rem;
        transition: all .2s ease-in;
    }

    &__line2{
        margin-bottom: .2rem;
        transition: all .4s ease-in;
    }

    &__line3{
        margin-bottom: .4rem;
        transition: all .2s ease-in;
    }

    &__line1.open{
        transform: rotate(45deg) translate(4px, 3px);
    }

    &__line2.open{
        opacity: 0;
        transform: translateX(-2rem);
    }

    &__line3.open{
        transform: rotate(-45deg) translate(4px, -3px);
    }
}

// .nav{
//     display: none;
// }

.nav{
    height: 85vh;
    width: 100%;
    background: #000000;
    visibility: hidden;
    transform: translateY(100vh);
    transition: all .4s ease-in;

    &.open{
        visibility: visible;
        transform: translateY(0);
    }
}

.nav-links{

    text-align: center;
    width: fit-content;
    margin: 0 auto;

    li{
        padding: 2rem 0;
    }
    
    a{
        font-family: 'Tourney', cursive;
        font-weight: 100;
        color: #ffffff;
        font-size: 3rem;
        transition: all .1s ease-in;

        &:hover{
            font-weight: 900;
        }
    }
    
    .active{
        font-weight: 900;
    }
}