section{
    width: 100%;
    height: 100vh;
    color: #ffffff;
    background: #000;
    padding: 0 1.5rem;
}

.section1{
    background: url(../img/earth.jpg);
    background-position: center;
}

.section2{
    background: url(../img/office.jpg);
    background-position: bottom;
}

.section3{
    background: url(../img/subway.jpg);
    background-position: center;
}

.section4{
    background: url(../img/liquid.jpg);
    background-position: center;
}

.section5{
    background: url(../img/lightray.jpg);
    background-position: center;
}

.section6{
    background: url(../img/transparent.jpg);
    background-position: center;
}

.section7{
    background: url(../img/barber.jpg);
    background-position: center;
}

.section8{
    background: url(../img/neongirl.jpg);
    background-position: center;
}